@charset "UTF-8";

html, body, div, section, article, aside, header, footer, nav, h1, h2, h3, h4, h5, h6, p, em, strong, img, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	background: #FFA500;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	width: 1000px;
	background: #FFFFFF;
	padding: 50px;

}

.logo{
	float: left;

}

#homeBanner h1{
	color:	#FF7F50;
	font-size: 3em;
	padding-left:350px;
	padding-top:20px;
}

nav{
	font-size: 1.15em;
	padding-top:60px;
	padding-left:310px;
}

.home{
	padding-right:50px;
}

.about{
	padding-right:50px;
}

.bookImages{
	width:30%;
	height:auto;
}

li {
	display: inline;
	padding-right:70px;
}

.title{
	padding-bottom:10px;
}

.bookItems{
	width:500px;
	margin-top:100px;
	margin-bottom:100px;
	
	

}
.bookArticles{
	margin-left:180px;
	font-size:17px;
	
}

.payButtons{
		margin-top:50px;
		margin-left:120px;
		border-radius:12px;
		padding:10px;
		padding-left:15px;
		padding-right:15px;
		background-color:#FF7F50;
		color:white;
		border:none;
		font-weight:bold;
}

input[type=submit]{
	padding:10px;
		padding-left:15px;
		padding-right:15px;
		border-radius:12px;
		background-color:#FF7F50;
		color:white;
		border:none;
		font-weight:bold;
		margin-top:-10px;
}

#btn4{
	margin-top:30px;
}

#btn3{
	margin-top:80px;
}

#btn1{
	margin-top:60px;
	
}

#payLogo{
	width:6%;
	height:auto;
	padding-right:800px;
}

#paymentTitle{
	border-bottom:2px solid #FF7F50;
}

#payOpt{
	padding-top:40px;
}

ul p{
	padding-top:10px;
}

#cardDetails{
	padding-top:50px;
	size=3;
}